body {
    width: 100%;
    font-family: Ubuntu, sans-serif;
    font-size: 14px;
    line-height: 42px;
    margin: 0;
    padding: 0;
    link: white;
    background-color: #a7e5ff;
}

.container {
    width: 73.125%;
    margin: 0 auto;
    padding: 0;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
    visibility: hidden;
}